/******************* IMPORTS *******************/


/******************* GENERAL *******************/

* {
    cursor: none;
  }
  
  /******************* CUSTOM *******************/
  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
  }
  
  .cursor-outer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid black;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
  }
  
  .cursor-inner {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 